*{
	margin:0px;
	padding:0px;
	}
.news{
	margin:30px;
	padding:10px;
	border:2px solid black;
	height:225px;
	width:400px;
	background-color: #FFFFAA;
	position:relative;
}
.popup li{
	list-style:none;
	margin-bottom:10px;
}
.link{
	 text-decoration:none;
	 color:black;
}
p a{
	text-decoration:none;
	font-weight:bold;
	font-size:16px;
}
p{margin-bottom:10px;}

.link:hover{
	text-decoration:underline;
	font-family:宋体;
	color:red;
}
p a:hover{
	text-decoration:underline;
	font-family:宋体;
	color:red;
}
button{
	border:none;
	position:absolute;
	top:0px;
	left:393px;
	background-color: #FFFFAA;
}
.main{
	height:18px;
	width:130px;
	border:1px solid;
	background-color:white;
	display:none;
	position:absolute;

}